<nav class="sidebar-nav">
    <ul class="nav">

        <li class="nav-title">
            Menu
        </li>
        <li class="nav-item">
            <a class="nav-link" href='/'>
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='/product'>
                <i class="fab fa-product-hunt"></i> Products
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='/flashsale'>
                <i class="fas fa-bolt"></i>Flash Sale
            </a>
        </li>

    </ul>
</nav>