  <footer class="app-footer">
    <span>
      <a href="#"></a> &copy; 2018 &bull; 7deal PH</span>
    <!-- <span class="ml-auto">Powered by
      <a href="#">Group 3 | Kiminoyawa</a>
    </span> -->
  </footer>